{# templates/team/add.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Créer une Équipe{% endblock %}

{% block body %}
		<div class="text-white text-center col-sm-4 col-md-4 col-lg-4 bg-accueil  fw-bolder border-success border-4 border rounded-pill mx-auto p-3">
    <h1>Créer une Équipe</h1>
    </div>

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
<div class="mx-auto col-5 border border-danger px-5 py-5">
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
    </div>
{% endblock %}
