{# templates/team/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des Pokémon{% endblock %}

{% block body %}
    <h1>Liste des Pokémon</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="pokemon-grid">
        {% for pokemon in pokemons %}
            <div class="pokemon-card">
                <img src="{{ pokemon.sprite }}" alt="{{ pokemon.name }}" class="pokemon-sprite">
                <h3>{{ pokemon.name|capitalize }}</h3>
                <form action="{{ path('add_to_team', {'id': pokemon.id}) }}" method="post">
                    <input type="hidden" name="name" value="{{ pokemon.name }}">
                    <input type="hidden" name="sprite" value="{{ pokemon.sprite }}">
                    <button type="submit" class="btn btn-primary">Ajouter à l'équipe</button>
                </form>
                <button type="button" class="btn btn-outline-warning text-yellow">
                    <a class="nodecoration text-dark" href="{{ path('app_team_add') }}">
                        Ajouter une équipe
                    </a>
                </button>
            </div>
        {% endfor %}
    </div>
{% endblock %}
