{% extends 'base.html.twig' %}

{% block body %}

    <h1>Les icones</h1>

    <ul>
        {% for pokemon in pokemons %}
            <li>
            <form action="{{ path('app_team_add_pokemon') }}" method="post">
                <img src="{{ pokemon.sprite }}" alt="{{ pokemon.name }}">
                {{ pokemon.name }}
                
    <input type="hidden" name="pokemon" value="{{ pokemon.sprite }}">
    <button type="submit">Ajouter à l'équipe</button>
</form>
            </li>   
        {% endfor %}
    </ul>

     {# <h1>Votre équipe de Pokémons</h1>

    {% if team is empty %}
        <p>Votre équipe est vide pour le moment.</p>
    {% else %}
        <ul>
            {% for pokemon in team %}
                <li>
                    <h2>{{ pokemon.name }}</h2>
                    <img src="{{ pokemon.sprites.front_default }}" alt="{{ pokemon.name }}">
                 
                </li>
            {% endfor %}
        </ul>
    {% endif %} #}
{% endblock %}
