{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des Pokémons</h1>

    <ul>
        {% for pokemon in pokemons %}
            <li>
                <img src="{{ pokemon.sprite }}" alt="{{ pokemon.name }}">
                {{ pokemon.name }}
                <form action="{{ path('app_pokemon_add') }}" method="post">
                    <input type="hidden" name="pokemon" value="{{ pokemon.sprite }}">
                    <button type="submit">Ajouter à l'équipe</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <h2>Votre équipe</h2>

    {# {% if team is empty %}
        <p>Votre équipe est vide.</p>
    {% else %}
        <ul>
            {% for pokemon in team %}
                <div>
                    <img src="{{ pokemon.sprite.url }}" alt="{{ pokemon.name }}">
                    {{ pokemon.name }}
                </div>
            {% endfor %}
        </ul>
    {% endif %} #}
{% endblock %}
