{% extends 'base.html.twig' %}

{% block title %}Modifier
	{{ pokemon.name }}
{% endblock %}

{% block body %}
	<body style="background-image: url('{% if pokemon.element and pokemon.element.illustration %}{{ asset('uploads/images/' ~ pokemon.element.illustration) }}{% else %}{{ asset('path/to/default/background.jpg') }}{% endif %}'); background-size: cover; background-position: center;">
		<div class="container mx-auto">
			<div class="row align-middle justify-content-between">
				<div class="col-5 bg-accueil text-light border-success border-4 border rounded-pill mx-auto mb-2">
					<h1 class="display-5 text-center fw-bolder">Modifier
						{{ pokemon.name }}</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-5 justify-content-center mt-5">
					<div class="d-flex w-75 text-center">
						{% if pokemon.image %}
							<img src="{{asset('uploads/pokemon/' ~ pokemon.image)}}" alt="{{ pokemon.name }}" style='width:18rem'>
						{% else %}
							<div style='width:18rem; height:18rem; background-color: #ccc;'>Pas d'image</div>
						{% endif %}
					</div>

					<div class="text-center">
						<button>
							<a class="text-yellow nodecoration" href="{{ path('monpokemon_pokemon_index') }}">Retour à la liste</a>
						</button>
						<button>
							{{ include('pokemon/_delete_form.html.twig') }}
						</button>
					</div>
				</div>
				<div class="col-lg-6 text-center align-middle mt-3">
					{{ include('pokemon/_form.html.twig', {'button_label': 'Enregistrer'}) }}
				</div>
			</div>
		</div>
	</body>
{% endblock %}
