{% extends 'base.html.twig' %}

{% block title %}Modifier
	{{ pokemon.name }}
{% endblock %}

{% block body %}
	<body class="{{ bodyClass|default('') }}" data-background="{{ asset('uploads/images/' ~ element.illustration) }}">


		<div class="container  ">
			<h1 class="text-primary text-uppercase display-2 text-center">Modifier{{ pokemon.name }}</h1>
			<div
				class="row align-middle justify-content-between">
				{# <div class="card mx-auto bg-transparent"> #}
				<div class="col-lg-5 justify-content-center mt-5">
					<div class="d-flex w-75 ">
						<div class="charactersFire mb-5">
							<div class="">
								<img src="{{asset('uploads/image/' ~ pokemon.image)}}" alt="" style='width:18rem'>
							</div>
						</div>
						{# <div class="bg-pokemon">
												<img src="{{asset('uploads/image/') ~ pokemon.element.illustration}}" alt="" style='width:60px'>
											</div> #}
					</div>
					<div class="">
						<button>
							<a class="btn btn-warning text-yellow nodecoration bg-buttonM" href="{{ path('app_pokemon_index') }}">Retour à la liste</a>
						</button>
						<button>
							{{ include('pokemon/_delete_form.html.twig') }}
						</button>
					</div>

				</div>
				<div class=" col-lg-6 text-center align-middle mt-5">
					{{ include('pokemon/_form.html.twig', {'button_label': 'Enregistrer'}) }}
				</div>
			</div>


		</div>
	</body>
{% endblock %}
