{% extends 'base.html.twig' %}

{% block title %}Pokemon Favorites
{% endblock %}


{% block body %}
	<div class="text-dark container">

		<div class="col-5 bg-accueil text-white fw-bolder border-success border-4 border rounded-pill mx-auto mb-2">
			<h1 class="display-5 text-center fw-bold">Sacha's Favorites</h1>
		</div>

		{# colonne de recherche et création de Pokemon #}
		<div class="container-fluid ">
			<div class="row justify-content-between align-items-center   ">
				<div class=" bg-intro col-lg-7 col-md-5 col-sm-5 text-center pt-4 p-2 border rounded-3 h-50 ">
					<p class=" text-primary ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo adipisci fuga nulla asperiores aperiam? Eius libero natus veritatis ratione! Rem, nulla dolore! Iusto ab adipisci minima quia impedit, rem minus.Sunt aperiam ea aliquam commodi illo neque natus ex incidunt vitae magnam labore, in nam alias a, nobis exercitationem nisi repellat dignissimos. Voluptas doloribus atque sint modi ea? Saepe, quia.</p>
				</div>

				<div class="col-lg-4 col-md-6 col-sm-4 justify-content-center pt-4 bg-success p-2 border rounded">
					<div class="fs-5 text-center justify-content-between">
						{{form_start(form)}}

						{{ form_widget(form) }}
					</div>
					<div class="my-3 text-center">
						<button type="submit button" class="btn btn-outline-warning my-3 text-dark">Lancer la recherche</button>
						<button type="button" class="btn btn-outline-warning text-yellow">
							<a class="nodecoration text-dark" href="{{ path('app_pokemon_new') }}">
								Ajouter un personnage
							</a>
						</button>
					</div>
				</div>
			</div>
		</div>


		<table class="table table-responsive table-hover opacity-3 border-start border-end  border-5 border-radius border-success my-5">
			<tbody>
				{% for pokemon in pokemons %}
					<tr
						class="" scope="row">
						{# illustration #}
						<td class="w-lg-25 w-md-25 text-center align-middle">

							<img class="my-2" src="{{asset('uploads/image/' ~ pokemon.image)}}" alt="" style='width:300px'>
							<div class="my-2 display-5  mx-auto text-primary">{{ pokemon.name }}</div>
						</td>
						<td class="w-lg-25 w-sm-25 align-center bg-image align-middle">
							<div class="border border-warning align-center text-center p-5 rounded ">

								<div class=" display-5 mx-auto text-primary my-3">{{pokemon.element.specificite}}</div>

								<div class="img-fluid">
									<img class="rounded-circle" src="{{asset('uploads/image/') ~ pokemon.element.illustration}}" alt="" style='width:18rem;height:18rem'>
								</div>
								<div class="display-5 mx-auto my-3 text-primary">{{pokemon.level}}</div>
							</div>
						</td>

						<td class="w-50 align-middle text-center">
							<div class='fs-5 text-primary '>
								<div class="display-5 mx-auto text-primary my-3">
									<p>Son histoire</p>
								</div>
								{# texte tronqué => ajout de Twig extras string : composer require twig/string-extra #}
								{{ pokemon.description |u.truncate(110) }}
								[...]
								<p>
									<a class="text-light bg-success px-3 rounded-2 border" href="{{ path('app_pokemon_show', {'id': pokemon.id}) }}">
										Voir la suite
									</a>
								</p>
								<div class='mt-5 '>

									{# <button class="btn btn-success btn-sm">
										<a class="text-light" href="{{ path('app_pokemon_show', {'id': pokemon.id}) }}">
											Voir
										</a>
									</button> #}

									<button class="btn btn-success  btn-sm">
										<a class="text-light" href="{{ path('app_pokemon_edit', {'id': pokemon.id}) }}">
											Modifier
										</a>
									</button>
								</div>
							</div>
						</td>
					</tr>
				</td>
			</tbody>
		</tr>
	{% else %}
		<tr>
			<td>Ce Pokemon n'est pas encore dans la Team !</td>
		</tr>
	{% endfor %}
</div></tbody></div>{% endblock %}
