{% extends 'base.html.twig' %}

{% block title %}LA TEAM
{% endblock %}

{% block body %}

	<div class="container text-center">
		<h1>Les pokemons du Feu</h1>
		<ul class="list-group">
			{% for pokemon in pokemons %}
				<li class="list-group-item">
					<img src="{{ pokemon.sprite }}" alt="{{ pokemon.name }}" width="10%" height="auto">
					{{ pokemon.name }}
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
{# {% block body %}
    <h1>Sélectionnez vos Pokémon</h1>

    <form method="post" action="{{ path('app_cart_add') }}">
        <select name="pokemon">
            {% for pokemon in pokemons %}
                <option value="{{ pokemon.url }}">{{ pokemon.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Ajouter au panier</button>
    </form>
{% endblock %} #}
