{# templates/api/results.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Résultats de l'API{% endblock %}

{% block body %}
    <h1>Résultats de l'API</h1>
    
    <p>Nombre total de résultats : {{ data.count }}</p>
    
    <ul>
    {% for result in data.results %}
        <li>{{ result.name }}</li>
    {% endfor %}
    </ul>
    
    <div class="pagination">
        {% if data.previous %}
            <a href="{{ path('api_results', {'page': data.currentPage - 1}) }}">Précédent</a>
        {% endif %}
        
        Page {{ data.currentPage }} sur {{ data.totalPages }}
        
        {% if data.next %}
            <a href="{{ path('api_results', {'page': data.currentPage + 1}) }}">Suivant</a>
        {% endif %}
    </div>
{% endblock %}
